#central_column {
    margin-left: 20%;
    margin-right: 20%;
}


#application_container {
    display: flex;
}

#application_controls {
    display: flex;
    flex-basis: 200px;
    flex-direction: column;
}

.application_control_element {
    height: 60px;
    display: flex;
}

.application_control_element input {
    height: 2em;
    margin-top: 5px;
    border: 1px solid;
    max-width: 8em;
}

.application_control_element .display {
    height: 2em;
    margin-top: 5px;
    min-width: 20%;
    border: 1px solid;
}

.application_control_element .label {
    margin-right: 10px;
}

#canvas_container {
    margin-left: 20px;
    display: flex;
}

#main_canvas {
    border-style: solid;
}

main h1 {
    font-size: 40px;
    margin-bottom: 30px;
}
